PORT=3001
FRONTEND_URL=http://localhost:8080
RESEND_API_KEY=re_your_resend_api_key
QUOTE_EMAIL_FROM="Mavens Advisor Website <quotes@mail.mavensadvisor.com>"
QUOTE_EMAIL_TO=adeelshaikh@mavensadvisor.com
